*~
*.pyc
/puppyserv.egg-info/
/production.ini
/log/

/2014-*/
/*.mkv

#Virtualenv
/bin/
/include/
/lib/

#Buildout
/.installed.cfg
/bin/
/develop-eggs/
/eggs/
/parts/

/htmlcov/
/.coverage
/.tox/
/etc/
