*~
*.pyc
/puppyserv.egg-info/

/2014-*/
/*.mkv

#Virtualenv
/bin/
/include/
/lib/

#Buildout
/.installed.cfg
/bin/
/develop-eggs/
/eggs/
/parts/

/log/
/run/
/etc/

# Local buildout config (with secret URLs)
/production.cfg

/htmlcov/
/.coverage
/.tox/
